div.content table input{
    text-align: center;
    border:1px solid #cccccc;
    border-radius: 4px;
}

div.content table a{
    color: #34495e;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}