@media(min-width:993px){
    div.container{
        padding:0;
        margin:0;
        width: 100%;
    }
    div.content{
        width:100%;
    }
    div.content .noti{
        display: none;
    }
}

@media(max-width:992px){
    div.container{
        padding:0;
    }
    div.content table{
        width:100%;
    }
    div.content table, div.content .info, p{
        display: none;
    }
    div.content .noti{
        display: block;
    }
}

div.content table input{
    text-align: center;
    width: 100%;
    border:1px solid #cccccc;
    height: 36px;
    border-radius: 4px;
}

div.content .info{
    margin-right: 5px;
}

div.content table a{
    color: #34495e;
}
div.content table a:hover{
    color: #111a23;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}

table#explainlist td:first-child,td:last-child{
    width:200px;
}