/**
 * Created by jung-inchul on 2015. 11. 24..
 */

div.content input{
    text-align: center;
    border:1px solid #cccccc;
    border-radius: 4px;
    margin:5px;
    width: 50%;
}

#booksearch button,input{
    vertical-align: middle;
}

img.bookImg{
    width: 50%;
}

@media(max-width:992px){
    img.bookImg{
        width: 100%;
    }
}

#interparkBooksearch{
    margin-bottom: 10px;
}

.bookSmallImg{
    height: 120px;
    width: 100px;
}

.bookLargeImg{
    height: 240px;
    width: 190px;
}

table#booklist tbody tr td:first-child{
    width: 120px;
    min-width: 80px;
}

div.pageArea{
    text-align: center;
}

ul.pagination{
    text-align:center;
}

tr.even{
    background-color: #e1e6e5;
}

button#borrowUsingQRcode{
    margin: 0 auto;
    width:95%;
    margin-bottom: 10px;
    border-radius: 4px;
}

/* pagination */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    color:#34495e;
}
.pagination li > a, .pagination li > span{
    color:#34495e;
}

.pagination li > a:hover, .pagination li > span:hover, .pagination li > a:focus, .pagination li > span:focus{
    background-color: #122359;
    color:white;
}

.pagination li.active > a, .pagination li.active > span{
    background-color: #122359;
    color: white;
}