input{
    width: 100%;
    text-align: center;
    border:1px solid #cccccc;
    height: 36px;
    border-radius: 4px;
}

div.content button#minus{
    background-color: #ff000d;
}

div.content table td.ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
}

div.content table#history tbody tr:hover{
    background-color: #dddddd;
}