div.content input{
    text-align: center;
    border:1px solid #cccccc;
    border-radius: 4px;
    margin:5px;
    width: 60%;
}

#booksearch button,input{
    vertical-align: middle;
}

img.bookSmallImg{
    width: 50%;
}

#booklist{
    margin-top:15px;
}