/**
 * Created by jung-inchul on 2015. 11. 24..
 */
@media(max-width:992px) {
    .container{
        padding: 0;
    }
    div.content{
        width:100%;
        margin:0;
    }
    h4.bookTitle{
        font-size: 20px;
    }
    h3{
        font-size: 30px;
    }
}
@media(min-width:992px) {
    div.content{
        width:900px;
        margin:auto;
    }
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #122359;
}

.nav-pills>li>a{
    background-color: #dfdfdf;
    color: black;
}

h4.bookTitle{
    color: #0100FF;
}

.btn-group-vertical{
    vertical-align: middle;
}

button#turnIn{
    vertical-align: middle;
}