div.content input{
    text-align: center;
    border:1px solid #cccccc;
    border-radius: 4px;
    margin-top:10px;
    margin-bottom:10px;
}

p.blur{
    color: darkgray;
    font-size: 14px;
}

div#all{
    margin-bottom:20px;
}

.delete{
    background-color: red;
}

.add{
    background-color: #009926;

}


.deleteButton{
    background-color: red;
    margin-bottom:10px
}