.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #122359;
}

.nav-pills>li>a{
    background-color: #dfdfdf;
    color: black;
}

input{
    text-align: center;
    border:1px solid #cccccc;
    height: 34px;
    border-radius: 4px;
    margin-top:10px;
    margin-bottom:10px;
}

button#add_normal_duty,button#add_bad_duty{
    margin-bottom:10px;
}