div.content{
    text-align: right;
}

div.content table#memberList{
    margin-top:10px;
}

input{
    text-align: center;
    width: 170px;
    border:1px solid #cccccc;
    height: 33px;
    border-radius: 4px;
}

#memberList>tbody>tr:hover{
    background-color: #dfdfdf;
}

button.dropdown-toggle,#search{
    margin:5px;
}