@media(min-width:993px){
    .modal-dialog{
        width: 400px;
    }
}

.modal-body{
    height: 500px;
    overflow-y: auto;
}

.modal-body table{
    width: 100%;
}

div.content table input{
    text-align: center;
    width: 100%;
    border:1px solid #cccccc;
    height: 36px;
    border-radius: 4px;
}

button#minus{
    background-color: #ff000d;
}