div.content table input{
    text-align: center;
    border:1px solid #cccccc;
    border-radius: 4px;
}

div.content .table>tbody>tr>td{
    padding: 5px;
}

.text-primary{
    color: #171bff;
}

#excelSave{
    width: 100%;
}