div.content table input{
    text-align: center;
    width: 100%;
    border:1px solid #cccccc;
    height: 36px;
    border-radius: 4px;
}

#alterhardwareTable{
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    margin:5px;
}

span.label{
    margin-left:5px;
    margin-right:5px;
}