@media(max-width:992px) {
    .container{
        padding: 0;
    }
    div.content{
        width:100%;
        margin:0;
    }
    h3{
        font-size: 30px;
    }
    div.content table{
        width: 993px;
    }
}
@media(min-width:993px) {
    div.content{
        width:993px;
        margin:auto;
    }
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #122359;
}

.nav-pills>li>a{
    background-color: #dfdfdf;
    color: black;
}

.btn-group-vertical{
    vertical-align: middle;
}

hr{
    border:1px solid #e7e9ec;
}

div.contents{
    position: relative;
    text-align: center;
}

div.content table{
    margin-left: auto;
    margin-right: auto;
}

div.content button{
    text-align: center;
    border:none;
    height: 34px;
    border-radius: 4px;
    background-color: #122359;
    color: white;
}
