@charset "utf-8";
/* CSS Document */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,button{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6{font-size: 100%;}
ol,ul{list-style: none;}
address,caption,cite,code,dfn,em,strong,th,var{font-style: normal;font-weight: normal;}
table{border-collapse: collapse;border-spacing: 0;}
fieldset,img{border: 0;}
caption,th{text-align: left;}
q:before, q:after{content: '';}
html,body{color:#58595b;}
html{text-align: center;}
a{text-decoration:none;}
em{font-style:normal;}

body{
    margin:0;
    text-align: left;
}
div{display: block;}
body{font-family:sans-serif; font-size:12px; color:#58595b; background:#fff;}
img{border:0; vertical-align:middle;}

article,aside,details,figcaption,figure,footer,header,menu,nav,section{display: block;}

*{text-decoration:none;}

a{color: #688ba6;}

.blind{
    position: absolute !important;
    top: 0;
    left: 0;
    width: 1px !important;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}
div.header{
    background-color: #122359;
    width:100%;
    top:0;
    z-index: 100;
}

div.header-in{
    max-width: 1280px;
    height: 53px;
    margin: 0 auto;
    position: relative;
    color: #fff;
    z-index: 1000;
}

img.index-logo{
    width: 300px;
    margin-top:30px;
    margin-bottom:30px;
}

div.contents{
    position: relative;
    padding-top:10px;
    z-index: 100;
    margin-bottom: 10px;
}

div.contents div.content{
    border:1px solid #e6e7e8;
    height: 500px;
    width: 350px;
    background: #fff;
    margin: 0 auto;

    text-align: center;
}

div.contents div.content-signup{
    border:1px solid #e6e7e8;
    height: 850px;
    width: 350px;
    background: #fff;
    margin: 0 auto;
    text-align: center;
}

div.form-area div.forgot-container{
    margin-top:0;
}

div.form-area form.index-form input.input-box{
    width: 300px;
    height: 44px;
    border:none;
    text-indent:3.8%;
    z-index: 10;
    margin-bottom: 10px;
    background-color: #dfdfdf;
    transition: 0.5s all;
}

div.form-area form.index-form input.input-box:focus{
    background-color: white;
}
div.form-area form.index-form input.input-box:after{
    background-color: #dfdfdf;
}

div.form-area button{
    width: 302px;
    height: 44px;
    border:none;
    background-color:#122359;
    color: white;
    outline:none;
    margin-bottom:5px;
}

div.form-area button[type="button"]{
    margin-bottom: 10px;
}

button{
    cursor: pointer;
}

input[type=radio] {
    display:none;
    margin:10px;
}

div.form-area label{
    margin-bottom: 10px;
    padding-top:10px;
}

div.form-area label#sign_up_female{
    font-size:15px;
    width:150px;
    height: 30px;
    float: right;
    margin-right: 24px;
    border-left:none;
}
div.form-area label#sign_up_male{
    font-size:15px;
    width: 152px;
    height: 30px;
    float: left;
    margin-left:24px;
    border-right:none;
}
input[type=radio] + label {
    background-color: #e7e7e7;
    color: #1E2858;
}

input[type=radio]:checked + label {
    background-color:#1E2858;
    color:  #e7e7e7;
}

label:hover{
    transition: 0.5s all;
}

div.form-img-upload input.sign_up_imgfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

div.form-img-upload input.sign_up_imgfile + label{
    cursor: pointer;
    display: inline-block;
    width: 300px;
    height: 34px;
    border:none;
    margin: 0 auto;
    background-color: #dfdfdf;
    padding-top:10px;
    margin-bottom: 10px;
    transition: 0.5s all;
}

div.form-img-upload input.sign_up_imgfile + label:hover{
    background-color: #1E2858;
    color: white;

}
div.form-img-upload input.sign_up_imgfile + label:after{
    background-color: #1E2858;
}

