@charset "utf-8";
/* CSS Document */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,button{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6{font-size: 100%;}
ol,ul{list-style: none;}
address,caption,cite,code,dfn,em,strong,th,var{font-style: normal;font-weight: normal;}
table{border-collapse: collapse;border-spacing: 0;}
fieldset,img{border: 0;}
caption,th{text-align: left;}
q:before, q:after{content: '';}
html,body{color:#58595b;}
html{text-align: center;}
a{text-decoration:none;}
em{font-style:normal;}

body{
    margin:0;
    text-align: left;
}
div{display: block;}
body{font-family:sans-serif; font-size:12px; color:#58595b; background:#f1f1f2;}
img{border:0; vertical-align:middle;}

article,aside,details,figcaption,figure,footer,header,menu,nav,section{display: block;}

*{text-decoration:none;}

a{color: #688ba6;}

.blind{
    position: absolute !important;
    top: 0;
    left: 0;
    width: 1px !important;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}
div.header{
    background-color: #122359;
    width:100%;
    top:0;
    z-index: 100;
}

div.header-in{
    max-width: 1280px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    color: #fff;
    z-index: 1000;
}

img.index-logo{
    width: 300px;
    margin-top:30px;
    margin-bottom:30px;
}

div.contents{
    position: relative;
    padding-top:10px;
    z-index: 100;
    margin-bottom: 10px;
}

div.contents div.content{
    border:1px solid #e6e7e8;
    height: 500px;
    width: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}

div.contents div.content-signup{
    border:1px solid #e6e7e8;
    height: 760px;
    width: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}

div.form-area div.forgot-container{
    margin-top:5%;
}

div.form-area form.index-form input.input-box{
    width: 300px;
    height: 44px;
    border:1px solid #1E2858;
    margin-top: -1px;
    text-indent:3.8%;
    z-index: 10;
    outline:none;
}

div.form-area form.index-form input:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.form-area button{
    width: 302px;
    height: 44px;
    border:1px solid #1E2858;
    background: white;
    margin-top:-1px;
    outline:none;
}

button{
    cursor: pointer;
}

div.form-area button#sign_up_female{
    width:150px;
    float: right;
    margin-right: 24px;
    border-left:none;
}
div.form-area button#sign_up_male{
    width: 152px;
    float: left;
    margin-left:24px;
    background-color: #1E2858;
    color: white;
}

div.form-area input#sign_up_photo{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.form-area input#login_password{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.form-area button.form-first-btn{
    margin-top:5px;
    background-color: #1E2858;
    color:white;
}

div.form-area button.form-first-btn.login{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.form-area button.form-second-btn.signup{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.form-area button.form-first-btn.signup{
    border-radius: 5px;
}

div.form-area button.form-second-btn{
    background-color: white;
    color:black;
}

div.form-img-upload input.sign_up_imgfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

div.form-img-upload input.sign_up_imgfile + label{
    cursor: pointer;
    display: inline-block;
    width: 300px;
    height: 34px;
    border:1px solid #1E2858;
    margin: 0 auto;
    margin-top:-1px;
    padding-top:10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
