header div.container{
        padding-left: 0;
        padding-right: 0;
}

header{
    background-color: #122359;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    background-color:#fff;
    margin: 0 0 53px;
}
.navbar-default{
    background-color: #122359;
    border-radius: 0;
}

.navbar-default .navbar-brand{
    color: #fff;
}

div.navbar-default{
    width: 100%;
}

ul.bottom-links li{
    display: inline-block;
}

footer{
    background-color: #3b3a3c;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 53px;
    width: 100%;

}

footer h5{
    text-align: center;
    color: #939597;
    font-size:45%;
    margin: 0;
    padding-top:10px;
}

@media(max-width:767px){
    footer h5{
        margin-top: 0;
        padding-top: 10px;
    }

    div.card{
        margin-left: 0;
        margin-right: 0;
    }
    div.card:last-child{
    margin-bottom:20px;
}
}

div.contents{
    position: relative;
    text-align: center;
}
div.card {
    background:#FFF;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:0px;
    margin:5px;
    margin-top:20px;
    overflow:hidden;
    width:260px;
    height: 100%;
    display:inline-block;
    vertical-align: top;
}

div.content img{
    width: 200px;
}

div.content div.content-header{
    color: black;
}

label{
    font-size:16px;
}
