html{
    position: relative;
    min-height: 100%;
}

header{
    background-color: #122359;
}

.cancel{
    background-color: #ff000d;
}

header div.container{
    padding-left: 0;
    padding-right: 0;
}

.navbar-default{
    background-color: #122359;
    border-radius: 0;
}

.navbar-default .navbar-brand{
    color: #fff;
}

div.navbar-default{
    width: 100%;
}

.navbar-default .navbar-toggle:hover:before, .navbar-default .navbar-toggle:focus:before,.navbar-default .navbar-nav > li > a:focus{
    color:white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    color:white;
}

body{
    background-color:#fff;
    margin: 0 0 53px;
}

@media(max-width:767px){
    .navbar-default .navbar-nav .open .dropdown-menu > li > a{
        color:white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
        color:#58595b;
    }
    footer h5{
        margin-top: 0;
        padding-top: 10px;
    }
    article.container h3{
        font-size: 25px;
    }
    article.container h4{
        font-size: 18px;
    }
    div.content{
        width: 100%;
    }
    article.container{
        padding:0;
        margin:0;
    }
    table{
        font-size: 15px;
    }
    .modal-body .p{
        font-size: 15px;
    }
    .modal-body h5{
        font-size: 20px;
    }
}

@media(max-width:992px){
    div.content{
        width: 100%;
        margin:auto;
    }
}

@media(min-width:992px){
    div.content{
        width: 100%;
        margin:auto;
    }
}

@media (min-width: 1200px){
    div.content{
        width: 993px;
    }
}

hr{
    border:1px solid #dddddd;
}

article.container{
    text-align: center;
}

div.content{
    text-align: center;
}

div.content table,th,tr,td{
    text-align: center;
    vertical-align: middle;
}

button {
    background-color: #122359;
    border: none;
    color: white;
    border-radius: 4px;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
    border-radius: 4px;
}
.btn{
    padding: 6px 12px;
}

.table>tbody>tr>td,.table>tbody>tr>th{
    vertical-align: middle;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #122359;
}

.nav-pills>li>a{
    background-color: #dfdfdf;
    color: black;
}

footer{
    background-color: #3b3a3c;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 53px;
    width: 100%;
}

footer h5{
    text-align: center;
    color: #939597;
    font-size:45%;
    margin: 0;
    padding-top:10px;
}

#__ig_wm__{
    background-image: none;
}

.table>tbody>tr.warning>td, .table>tbody>tr.warning>th, .table>tbody>tr>td.warning, .table>tbody>tr>th.warning, .table>tfoot>tr.warning>td, .table>tfoot>tr.warning>th, .table>tfoot>tr>td.warning, .table>tfoot>tr>th.warning, .table>thead>tr.warning>td, .table>thead>tr.warning>th, .table>thead>tr>td.warning, .table>thead>tr>th.warning{
    background-color: #dfdfdf;
}

.modal-footer .btn,.modal-footer .btn+.btn{
    margin:5px;
}