@media(max-width:767px){
    div.card{
        margin-left: 0;
        margin-right: 0;
    }
    div.card:last-child{
        margin-bottom:20px;
    }
}

div.card {
    background:#FFF;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:0px;
    margin:5px;
    margin-top:20px;
    overflow:hidden;
    width:260px;
    height: 100%;
    display:inline-block;
    vertical-align: top;
}

label{
    font-size:16px;
}

.label {
    font-size: 12px;
}
