input{
    text-align: center;
    border:1px solid #cccccc;
    border-radius: 4px;
    margin-top:10px;
    margin-bottom:10px;
    width: 100%;
}

.alltable{

    font-size: 15px;
}

.blur{
    color: darkgray;
    font-size: 13px;
}