article.container{
    text-align: center;
}

div.content{
    text-align: center;
}

div.content table,th,tr,td{
    text-align: center;
    transition: 0.5s all;
}

hr {
    border:1px solid #dddddd;
}

button {
    background-color: #122359;
    border: none;
    color: white;
    height: 45px;
    border-radius: 4px;
    transition: 0.3s all;
    margin:5px;
    padding-left: 10px;
    padding-right: 10px;
}

input,textarea{
    text-indent: 2%;
    text-align: left;
    border:2px solid #cccccc;
    height: 45px;
    width:100%;
    border-radius: 4px;
}

textarea {
    font-size: 18px;
    padding:5px 0;
    margin-top:10px;
    height:150px;
    resize: none;
}

table {
    table-layout: fixed;
    margin:auto;
}
table#history td {
    width:100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#history>tbody>tr:hover{
    background-color: #dfdfdf;
}

@media(min-width:993px){
    div.content{
        width: 993px;
        margin:auto;
    }
}

@media(max-width:992px){
    div.container{
        padding:0;
    }
    table{
        font-size: 14px;
    }
    button{
        height: 36px;
    }
    input{
        height: 36px;
    }
}

#pagination a{
    color:#122359;
}

#pagination td{
    padding:10px;
}

.modal-body{
    height: 500px;
    overflow-y: auto;
}

#commentTable{
    margin-top:10px;
}
#commentTable tr{
    border-bottom: 1px solid #ddd;
}
#commentTable .comment{
    text-align: left;
}
#commentTable .name{
    width: 100px;
    border-right: 1px dashed #ddd;
}