input,textarea{
    text-indent: 2%;
    text-align: left;
    border:2px solid #cccccc;
    width:100%;
    border-radius: 4px;
}

textarea {
    font-size: 18px;
    padding:5px 0;
    margin-top:10px;
    height:150px;
    resize: none;
}

table {
    table-layout: fixed;
    margin: auto;
}

table th{
    text-align: center;
}
table#history td {
    width:100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#history>tbody>tr:hover{
    background-color: #dfdfdf;
}

#pagination a{
    color:#122359;
}

#pagination td{
    padding:10px;
}

.modal-body{
    height: 400px;
    overflow-y: auto;
}

#commentTable{
    margin-top:10px;
}
#commentTable tr{
    border-bottom: 1px solid #ddd;
}
#commentTable .comment{
    text-align: left;
}
#commentTable .name{
    width: 100px;
    border-right: 1px dashed #ddd;
}
.commentDiv{
    width: 100%;
    height: 42px;
}
#comment{
    vertical-align: middle;
    width: 70%;
    margin-right: 5px;
    padding:3px;
}

.waitforans{
    background-color:#980000;padding:5px;border-radius: 5px;color: white;
}

.answered{
    background-color: #196d26;padding:5px;border-radius: 5px;color: white;
}