#calendar {
    width:100%;
    margin-bottom:20px;
}

.fc-more{
     color:  #122359;
 }

.datepicker{
    margin-bottom: 15px;
}
.fc-time{
    color: #111a23;
    font-size: 13px;
}

input{
    text-align: center;
    width: 170px;
    border:1px solid #cccccc;
    height: 33px;
    border-radius: 4px;
}