article.container{
    text-align: center;
}

div.content{
    text-align: center;
}

hr {
    border:1px solid #dddddd;
}

img.android{
    width:300px;
}

@media(min-width:993px){
    div.content{
        width: 993px;
        margin:auto;
    }
}

@media(max-width:992px){
    div.container{
        padding:0;
    }
    article.container h3{
        font-size: 35px;
    }
}