div.content table th{
    text-align: center;
}

div.content table tr{
    height: 50px;
}

button {
    background-color: #122359;
    border: none;
    height: 100%;
    color: white;
    border-radius: 4px;
    transition: 0.3s all;
    padding-left: 10px;
    padding-right: 10px;
}