div.card{
    background:#FFF;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding-bottom:20px;
    margin:20px auto;
    overflow:hidden;
    width: 900px;
    height: 100%;
    vertical-align: top;
}

div.card:last-child{
    margin-bottom: 20px;
}

div.card div.profile-img{
    width: 20%;
}
div.card div.profile-img img{
    width: 100%;
}

div.profile-content{
    width: 75%;
    text-align: left;
}

div.profile-content table td{
    padding-top: 10px;
    padding-bottom: 10px;
}

div.edit-content{
    color: #333333;
    margin:auto;
}

div.edit-content table td{
    text-align: left;
}

div.edit-content input{
    height: 44px;
    border: none;
    text-indent: 3.8%;
    z-index: 10;
    margin-bottom: 10px;
    background-color: #dfdfdf;
    transition: 0.5s all;
}

div.edit-content button.edit-save{
    width: 100%;
    background-color: #122359;
}

div.edit-content table td:last-child{
    text-align: center;
}

div.edit-content input.new_imgfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

div.edit-content input.new_imgfile + label{
    cursor: pointer;
    display: inline-block;
    height: 44px;
    border:none;
    margin: 0 0 10px  auto;
    background-color: #dfdfdf;
    padding-top:5px;
    transition: 0.5s all;
}

div.edit-content input.new_imgfile + label:hover{
    background-color: #1E2858;
    color: white;

}
div.edit-content input.new_imgfile + label:after{
    background-color: #1E2858;
}

table th{
    text-align: left;
}

@media(min-width:993px){
    div.card div.profile-img{
        float: left;
        padding-left:25px;
    }

    div.profile-content{
        border-left:1px solid #AAA;
        padding-left:25px;
        float: right;
    }

    div.profile-content table td:nth-child(2){
        padding-left:50px;
    }

    div.profile-content table td:last-child{
        padding-left:50px;
    }

    div.edit-content table{
        margin:20px auto;
    }

    div.edit-content table tbody{
        width: 100%;
    }
    div.edit-content table td{
        width: 300px;
    }

    div.edit-content{
        width:75%;
    }

    div.edit-content input{
        width: 100%;
    }
    div.edit-content input.new_imgfile + label{
        width: 100%;
    }
}

@media(max-width:992px){
    div.card{
        width: 100%;
        margin-top:0;
    }

    div.card:last-child{
        margin-top:20px;
    }

    div.card{
        padding: 0;
    }

    div.profile-content{
        margin: auto;
        width: 80%;
    }

    div.profile-content table{
        width: 100%;
        margin: 20px 20px auto;
        font-size: 13px;
    }

    div.card div.profile-img{
        margin: auto;
    }

    div.edit-content table{
        font-size: 13px;
        margin-top: 10px;
        width: 100%;
    }

    div.edit-content label{
        font-size: 13px;
    }
    div.edit-content input{
        width: 200px;
    }
    div.edit-content input.new_imgfile + label{
        width: 200px;
    }
    div.edit-content table td,th:first-child{
        text-align: center;
    }
}
