#finished{
    width: 100%;
}

input,textarea{
    text-indent: 2%;
    text-align: left;
    border:2px solid #cccccc;
    height: 45px;
    width:100%;
    border-radius: 4px;
}

textarea {
    font-size: 18px;
    padding:5px 0;
    margin-top:10px;
    height:150px;
    resize: none;
}

table {
    table-layout: fixed;
    margin:auto;
}
table#history td {
    width:100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#history>tbody>tr:hover{
    background-color: #dfdfdf;
}

.table-clickable:hover{
    background-color: #dddddd;
    cursor: pointer;
}

.text-command{
    color: #196d26;
    font-weight: bold;
}

.text-disable{
    color: #b6bbba;
}

.text-wait{
    color: #ff000d;
}

a#selectAdmin{
    background-color: #122359;
}

#type{
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}

.profile-img{
    float: right;
    border-left: 1px solid #dfdfdf;
    padding-left: 10px;
}

.profile-img img{
    width: 150px;
}