input[type=checkbox], input[type=radio] {
    display:none;
}

label.input-label {
    display: inline-block;
    cursor: pointer;
}

label.input-label::before {
    display: inline-block;
    padding:0;
    margin:0;
    font-family: FontAwesome;
    font-size: 25px;
    color: rgb(0 0 0);
    transition: transform 0.2s ease-out, color 0.2s ease;
    transform: scale3d(0.8,0.8,1);
}

.radio+.radio{
    margin:0;
}

.checkbox+.checkbox{
    margin:0 15px 0 0;
}

.checkbox, .radio{
    padding:0;
    margin:0 15px 0 0; !important;
}

label.input-label:active::before {
    transform: scale3d(1.5,1.5,1);
}

label.input-label:hover::before {
    transform: scale3d(1,1,1);
}

input.checkbox + label.input-label:hover::before {
    transform: scale3d(1,1,1);
}

input.checkbox + label.input-label:active::before {
    transform: scale3d(1.5,1.5,1);
}

input.checkbox:checked + label.input-label::before {
    display: inline-block;
    font-family: FontAwesome;
    color:#0478c1;
    transform: scale3d(1,1,1);
}

label.input-label.checkbox::before {
    content: "\f0c8";
}

input.checkbox:checked + label.input-label.checkbox::before {
    content:"\f14a";
}

label.input-label.radio::before {
    content: "\f111";
}

input.checkbox:checked + label.input-label.radio::before {
    content:"\f058";
}

#voteList>tbody>tr:hover{
    background-color: #dfdfdf;
}

.progress{
    height: 35px;
    background-color: #dfdfdf;
}

.progress-bar{
    background: #5cabfa;
    height:inherit;
    line-height: inherit;
    color: black;
    font-size: inherit;
    text-align: inherit;
}

.progress-content{
    position:absolute;
    width:100%;
    z-index: 10000;
}

.progress-title{
    float:left;
    margin-left:10px;
}

.progress-count{
    float:right;
    margin-right:10px;
}

div.content table{
    table-layout:fixed;
}

div.content table td.ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
}

div.content table th.count{
    width:70px;
}

div.content table th.name{
    width:100px;
}

div.content table th.expire{
    width:120px;
}