//
   Created by KIMDONGWON on 2015-11-27.

doctype html
html
   head
      title
   body
      h1= title
      button#push-server push
      script(src='http://code.jquery.com/jquery.js')
      script(src='./../javascripts/apply_gcm.js')
