//Created by jung-inchul on 2015. 11. 20..
extends main_layout
append head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/apply_newbook.css')
block content
    .page-header
        .container
            h3 새책 신청하기
        article.container
            #interparkBooksearch.row
                .col-xs-10
                    .input-group
                        .input-group-btn
                            button#bookSearchCategory.btn.btn-default(type='button') 도서명
                            button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
                                span.caret
                            ul#categoryDropdown.dropdown-menu
                                li
                                    a(href='#') 도서명
                                li
                                    a(href='#') 저자
                                li
                                    a(href='#') 출판사
                        input#newbookSearchWords.form-control(type='text', placeholder='검색어를 입력해주세요')
                        span.input-group-btn
                            button#newbookSearchBtn.btn.btn-info(type='button') 검색
                .col-xs-1
                    button#loadMyapplication.btn.btn-warning(type='button') 내 신청목록
            table#newbooklist.table.table-hover.table-bordered.table-condensed
            .pageArea
                ul.pagination(style='text-align:center')
    .modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title
                .modal-body
                .modal-footer
                    button#request.btn.btn-primary(type='button')
                    button.btn.btn-default(type='button', data-dismiss='modal') 뒤로가기
append foot
    script(src='../javascripts/apply_newbook_index.js')