//
   Created by KIMDONGWON on 2015-11-27.
extends main_layout
append head
   link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/apply_room_server_equip.css')
   link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css')
block content
   .wrapper
      article.container
         h3 #{title}
         hr
         .content
            table.table
               thead
                  tr
                     th 기간
                     th 링크
               tbody
                  if lists.length === 0
                     tr
                        td(colspan=5)
                           h4 신청서가 없습니다
                  else
                     for list in lists
                        tr
                           td
                              = list.a_date
                              |  ~
                              = list.a_due_date
                           td
                              a(href=list.a_weblink,target='_blank')
                                 = list.a_title
                           //td
                           //   - type = list.a_apply_type
                           //   if type == 1
                           //      button.btn.push-room.push 신청하기
                           //   else if type == 2
                           //      button.btn.push-server.push 신청하기
                           //   else if type == 3
                           //      button.btn.push-equipment.push 신청하기
append script
   script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js')
   script(src='../javascripts/apply_room_server_equip.js')
