//Created by jung-inchul on 2015. 11. 25..
extends main_layout

append head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/book_humanities.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
block content
    .wrapper
        article.container
            h3 인문학도서 대여
            hr
            .content
                #booksearch
                    button#borrowUsingQRcode.btn-block.visible-xs.visible-sm(type='button') QR코드로 대여하기
                    .btn-group
                        button#bookSearchCategory.btn.dropdown-toggle(type='button', data-toggle='dropdown') 도서명
                        ul#categoryDropdown.dropdown-menu
                            li
                                a(href='#') 도서명
                            li
                                a(href='#') 저자
                            li
                                a(href='#') 출판사
                    input#bookSearchWords(type='text', placeholder='검색어를 입력하세요')
                    button#bookSearchBtn(type='button') 검색
                #noti
                    hr
                    h4 이번달 들어온 인문학도서목록
                    hr
                table#booklist.table.table-hover.table-bordered.table-condensed
                    tbody
                .pageArea
                    ul.pagination
    .modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title
                .modal-body
                .modal-footer
                    button#request.btn(type='button') 대여
                    button#reserve.btn(type='button') 예약
                    button#missing.btn(type='button') 분실신고
                    button#return.btn(type='button', data-dismiss='modal') 닫기
append script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    script(src='../javascripts/book_humanities_index.js')
