//Created by jung-inchul on 2015. 12. 06..
extends main_layout
append head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/book_mybook.css')
block content
    .container.contents
        h3 내 도서 현황
        hr
        .content
            ul.nav.nav-pills.nav-justified
                li.active
                    a(href="#") 대여한 도서
                li
                    a(href="#") 예약한 도서
                li
                    a(href="#") 구매신청한 도서
            hr
            table#myBorrowedBook.table.table-hover.table-bordered.table-condensed.table-striped
            table#myReservedBook.table.table-hover.table-bordered.table-condensed.table-striped.hidden
            table#myAppliedBook.table.table-hover.table-bordered.table-condensed.table-striped.hidden
append script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    script(src='../javascripts/book_mybook_index.js')