//
    by jung-inchul on 2015. 12. 23..

extends main_layout
append head
    link(rel='stylesheet', type='text/css', href='../../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../../stylesheets/book_manage_missing.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
block content
    .wrapper
        article.container
            h3 분실 도서 목록
            hr
            .content
                table#missingbookTable.table.table-striped.table-hover
append script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    script(src='../../javascripts/book_manage_missing.js')