


extends main_layout
append head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/duty_inquiry.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap-datepicker3.css')
block content
    .container.contents
        h3 당직 조회
        hr
        .content

            input.datepicker(type='text', placeholder='월 선택' readonly="readonly")

            p#name.blur
            #duty
            p#foot.blur



append script
    script(src='../javascripts/bootstrap-datepicker.js')
    script(src="../javascripts/duty_inquiry.js")

