extends main_layout
append head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/duty_manage.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/fullcalendar.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap-datepicker3.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')

block content
    .wrapper
        article.container
            h3 당직 관리
            hr
            .content
                input.datepicker(type='text', placeholder='월 선택' readonly='readonly')
                div#all
                    #calendar.text-center

                button#deleteAllButton.btn.deleteButton(type='button') 당직 전체 삭제
                p.blur 당직 전체 삭제시 존재하는 벌당직은 모두 운영실 벌당직으로 추가됩니다.

            .modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            h4.modal-title 당직 수정

                        .modal-body
                            h4 날짜
                            #date

                            #empty.hidden
                                p.blur 주의! 당직을 생성할시 그 달의 모든 당직을 수동으로 설정해야 합니다.
                                button#createButton.btn(type='button') 당직 생성

                            #duties.hidden
                                table.table
                                    thead
                                        tr
                                            th 당직구분
                                            th 당직자
                                            th 삭제
                                    tbody#tbody


                            #addDuty.hidden
                                table.table
                                    thead
                                        tr
                                            th 회원
                                            th 모드
                                    tbody
                                        tr
                                            td
                                                .btn-group
                                                    button#member_button.btn.dropdown-toggle(data-toggle='dropdown') 회원
                                                    ul#member_dropdown.dropdown-menu


                                            td
                                                .btn-group
                                                    button#mode_button.btn.dropdown-toggle(data-toggle='dropdown') 구분
                                                    ul#mode_dropdown.dropdown-menu
                                                        li
                                                            a(href='#') 일반당직
                                                        li
                                                            a(href='#') 벌당직

                        .modal-footer
                            button#addButton.hidden.btn(type='button') 추가
                            button.btn(type='button', data-dismiss='modal') 닫기

append script
    script(src='../javascripts/bootstrap-datepicker.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    script(src='../javascripts/moment.min.js')
    script(src='../javascripts/fullcalendar.js')
    script(src="../javascripts/duty_manage.js")

