extends main_layout
append head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/duty_manage.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/fullcalendar.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap-datepicker3.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')

block content
    .wrapper
        article.container
            h3 당직 관리
            hr
            .content
                input.datepicker(type='text', placeholder='월 선택' readonly='readonly')
                div#all
                    #calendar.text-center

            .modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            h4.modal-title 당직 수정

                        .modal-body
                            h5 날짜
                            #date

                            #empty.hidden
                                p.blur 당직을 생성할시 모든 당직을 수동으로 설정해야 합니다.
                                button.btn(type='button') 당직 생성

                            #duties.hidden
                                table.table
                                    thead
                                        tr
                                            th 당직구분
                                            th 당직자
                                            th 삭제
                                    tbody#tbody




                        .modal-footer
                            //button#modify.btn(type='button') 수정
                            //button#cancel.btn(type='button') 삭제
                            button.btn(type='button', data-dismiss='modal') 닫기

append script
    script(src='../javascripts/bootstrap-datepicker.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    script(src='../javascripts/moment.min.js')
    script(src='../javascripts/fullcalendar.js')
    script(src="../javascripts/duty_manage.js")

