//
   Created by KIMDONGWON on 2015-12-09.
extends main_layout

append head
   link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/fee_register.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap-datepicker3.css')
   link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
block content
   .wrapper
      article.container
         h3 수입/지출 내역 등록
         hr
         .content
            table.table#addlist
               thead
                  tr
                     th 날짜
                     th 입출
                     th 내역
                     th 금액
                     th 추가
               tbody
                  tr
                     td
                        input.datepicker#date_0(type='text', placeholder='날짜', onclick='calendar(this)', readonly="readonly")
                     td
                        .btn-group
                           button#type_0.btn.dropdown-toggle(type='button', data-toggle='dropdown') 구분
                           ul.dropdown-menu
                              li#expense_0(onclick='expense(this.id)')
                                 a 지출
                              li#income_0(onclick='income(this.id)')
                                 a 수입
                     td
                        input#content_0(type='text', placeholder='내역')
                     td
                        input#price_0(type='text', placeholder='숫자만 입력', maxlength="8", onkeydown='isNumberKey(this)')
                     td
                        button#plus.btn.plusminus(type='button', onclick='addList()') +
            button#submit.btn(type='button') 등록
            #registerList
               table.table.table-clickable.table-hover
                  thead
                     tr
                        th 날짜
                        th 입출
                        th 내역
                        th 금액
                        th 삭제
                  tbody
append script
   script(src='../javascripts/bootstrap-datepicker.js')
   script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
   script(src='../javascripts/fee_register_index.js')
