//
   Created by KIMDONGWON on 2015-12-17.
extends main_layout
append head
   link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/fee_manage.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap-datepicker3.css')
   link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css')
block content
   .wrapper
      article.container
         h3 회비 관리
         hr
         .content
            .btn-group
               button#term.btn.dropdown-toggle(type='button', data-toggle='dropdown') 기간
               ul.dropdown-menu
                  li#termAll(onclick='selectCondition(this.id)')
                     a 전체
                  li#termOne(onclick='selectCondition(this.id)')
                     a 1개월
                  li#termtwo(onclick='selectCondition(this.id)')
                     a 2개월
                  li#termThree(onclick='selectCondition(this.id)')
                     a 3개월
            .btn-group
               button#type.btn.dropdown-toggle(type='button', data-toggle='dropdown') 회비 구분
               ul.dropdown-menu
                  li#typeAll(onclick='selectCondition(this.id)')
                     a 전체
                  li#typeFee(onclick='selectCondition(this.id)')
                     a 회비
                  li#typeSsf(onclick='selectCondition(this.id)')
                     a 삼과비
                  li#typeEtc(onclick='selectCondition(this.id)')
                     a 기타
            .btn-group
               button#paid.btn.dropdown-toggle(type='button', data-toggle='dropdown') 납부 여부
               ul.dropdown-menu
                  li#paidAll(onclick='selectCondition(this.id)')
                     a 전체
                  li#paidYet(onclick='selectCondition(this.id)')
                     a 미납
                  li#paidYes(onclick='selectCondition(this.id)')
                     a 납부
            p
               input#searchName(type='text' placeholder='이름')
               button#search.btn(type='button') 조회
            hr
            table.table#memberList
               thead
                  tr
                     th 구분
                     th 이름
                     th 상태
               tbody
                  tr.empty
                     td(colspan=3)
                        h4 전체검색시 조회를 누르세요
   .modal.fade
      .modal-dialog
         .modal-content
            .modal-header
               h4.modal-title
            .modal-body
            .modal-footer
               button#delete.btn(type='button') 삭제
               button#pay.btn(type='button') 납부
               button.btn(type='button', data-dismiss='modal') 닫기
append script
   script(src='../javascripts/bootstrap-datepicker.js')
   script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js')
   script(src='../javascripts/fee_manage_index.js')

