//
   Created by KIMDONGWON on 2015-12-07.

extends main_layout

append head
   link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
block content
   .wrapper
      article.container
         h3 회비 미납내역
         hr
         .content
            table#unpaidList.table
               thead
                  tr
                     th 날짜
                     th 구분
                     th 내용
                     th 금액
               tbody
append script
   script(src='../javascripts/fee_unpaid_index.js')
