//
   Created by KIMDONGWON on 2015-12-07.
extends main_layout
append head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/fee_history.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap-datepicker3.css')
block content
    .container.contents
        h3 회비 사용내역
        hr
        .content
            table.table
                thead
                    tr
                        th
                            input.datepicker(type='text', placeholder='월 선택' readonly="readonly")
                        th 구분
                        th 내용
                        th 금액
                tbody
                    tr
                        td 20151111
                        td.text-primary 수입
                        td 내꺼
                        td.text-primary 5,000
                    tr
                        td 20151111
                        td.text-danger 지출
                        td 니꺼
                        td.text-danger 5,000
                tfoot
                    tr
                        td
                        td
                        th 월 수입
                        td.text-primary 1,000,000
                    tr
                        td
                        td
                        th 월 지출
                        td.text-danger 1,000,000
                    tr
                        td(colspan=4)
                            button#excelSave(type='button') 엑셀로 저장
append script
    script(src='../javascripts/bootstrap-datepicker.js')
    script(src='../javascripts/apply-datepicker.js')

