//
   Created by KIMDONGWON on 2015-12-09.
extends main_layout

append head
   link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/fee_charge.css')
   link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
block content
   .wrapper
      article.container
         h3 회비 청구
         hr
         .content
            table.table#addlist
               thead
                  tr
                     th 날짜
                     th 구분
                     th 내용
                     th 회원
                     th 금액
                     th 추가
               tbody
                  tr
                     td
                        input.datepicker#date_0(type='text', placeholder='날짜', onclick='calendar(this)', class="datepicker", readonly='readonly')
                     td
                        .btn-group
                           button#type_0.btn.dropdown-toggle(type='button', data-toggle='dropdown') 구분
                           ul.dropdown-menu
                              li#type1_0(onclick='typecheck(this.id)')
                                 a 회비
                              li#type2_0(onclick='typecheck(this.id)')
                                 a 삼과비
                              li#type3_0(onclick='typecheck(this.id)')
                                 a 기타
                     td
                        input#content_0(type='text', placeholder='내용')
                     td
                        input#members_0(type='text', placeholder='회원' readonly='readonly', onclick='memberSelect(this)')
                     td
                        input#price_0(type='text', placeholder='금액만 입력',onkeydown='isNumberKey(this)')
                     td
                        button#plus.btn(type='button', onclick='addList()') +
            button#submit.btn(type='button') 입력
   .modal.fade
      .modal-dialog
         .modal-content
            .modal-header
               h4.modal-title
            .modal-body
            .modal-footer
               button#selectAll.btn(type='button') 전체
               button#select.btn(type='button') 선택
               button.btn(type='button', data-dismiss='modal') 닫기
append script
   script(src='../javascripts/bootstrap-datepicker.js')
   script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
   script(src='../javascripts/fee_charge_index.js')
