//
   Created by jung-inchul on 2015. 12. 7..

extends main_layout

append head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/hardware_myhardware.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
block content
    .container.contents
        h3 나의 하드웨어
        hr
        .content
            ul.nav.nav-pills.nav-justified
                li.active
                    a(href="#") 대여한 하드웨어
                li
                    a(href="#") 요청 처리
                li
                    a(href="#") 신청한 하드웨어
            hr
            table#myHardware.table.table-hover.table-condensed.table-striped
            table#myrequestedHardware.table.table-hover.table-condensed.table-striped.hidden
            table#myappliedHardware.table.table-hover.table-condensed.table-striped.hidden
    .modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title
                .modal-body
                .modal-footer
                    button#cancelmyappliedHardware.btn.btn-danger(type='button') 신청취소
                    button.btn(type='button', data-dismiss='modal') 닫기
append script
    script(src='../javascripts/hardware_myhardware.js')