//
    by jung-inchul on 2015. 12. 16..

extends main_layout

append head
    link(rel='stylesheet', type='text/css', href='../../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../../stylesheets/hardware_manage_item.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css')
block content
    .wrapper
        article.container
            h3 하드웨어 관리
            hr
            .content
                ul.nav.nav-pills.nav-justified
                    li.active
                        a(href="#") 등록
                    li
                        a(href="#") 변경/삭제
                hr
                #addhardwareForm
                    table#addhardwareTable.table
                        thead
                            tr
                                th 이름
                                th 수량
                                th 시리얼넘버
                                    br
                                    |(선택)
                                th 추가
                        tbody
                            tr
                                td
                                    input#add_hardwareName0(type='text', placeholder='ex> Galaxy Gear S2')
                                td
                                    input#add_hardwareAmount0(type='number', value="1" min="1")
                                td
                                    input#add_hardwareSerial0(type='text', placeholder='ex> SWMEM-8F-LAONJENA')
                                td
                                    button#plus.btn(type='button', onclick='addList()') +
                    button#enroll.btn(type='button') 등록
                table#alterhardwareTable.table.table-striped.table-hover
    .modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title 하드웨어 데이터 수정
                .modal-body
                .modal-footer
                    button#alterButton.btn(type='button') 변경
                    button#deleteButton.btn(type='button') 삭제
                    button.btn(type='button', data-dismiss='modal') 닫기
append script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js')
    script(src='../../javascripts/hardware_manage.js')