//
   Created by KIMDONGWON on 2015-11-15.

doctype html
html(lang='ko')
   head
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
      link(rel='stylesheet', type='text/css', href='./stylesheets/index.css')
      title #{title} | SWSSM
   body
      block content