//
   Created by KIMDONGWON on 2015-11-15.

extends index_layout

block content
  .wrap
     .header
       .header-in
     .contents
        .content
           .img-area
              img.index-logo(src='./images/bi.png')
           .form-area
              input#login_id.input-box(type='text', name='id', placeholder='ID', data-required='required')
              input#login_password.input-box(type='password', name='password', placeholder='Password', data-required='required')
              button#loginButton.form-btn(type='button') SIGN IN
           button#sign_up_button.form-btn(type='button', onclick="window.location.href='/signup'") SIGN UP
           .forgot-container
            | If you forgot your ID or password, Contact us.
append script
    script(src='http://code.jquery.com/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    script(src='./javascripts/login_index.js')






