//
   Created by KIMDONGWON on 2015-11-29.

extends main_layout

block content
   .container.contents
      .card.animated.bounceIn
         .content.today-duty
            .content-header
               h5 2015.11.25
               h5 오늘의 당직
            .duty-people
               p
                  label(style='text-overflow : ellipsis;') 도병권
            .duty-people
               p
                  label(style='text-overflow : ellipsis;') 정인철
            .duty-people
               p
                  label(style='text-overflow : ellipsis;') 김동원
      .card.animated.bounceIn
         .content
            .content-header
               h5 Mileage
            p
               label(style='text-overflow : ellipsis;') Mileage : 100
      .card.animated.bounceIn
         .content
            .content-header
               h5 나의 당직일
            p
               label(style='text-overflow : ellipsis;') 11월 02일 일반당직
               span.badge D-3
            p
               label(style='text-overflow : ellipsis;') 11월 10일 일반당직
               span.badge D-10
      .card.animated.bounceIn
         .content
            .content-header
               h5 하드웨어 대여 현황
            p
               label(style='text-overflow : ellipsis;') Galaxy S4
               span.badge D-3
            p
               label(style='text-overflow : ellipsis;') Galaxy Note2
               span.badge D-4
            p
               label(style='text-overflow : ellipsis;') IPhone 6s
               span.badge D-5
      .card.animated.bounceIn
         .content
            .content-header
               h5 도서 대여 현황
            p
               label(style='text-overflow : ellipsis;') Code complete
               span.badge D-3
            p
               label(style='text-overflow : ellipsis;') Node.js
               span.badge D-4
            p
               label(style='text-overflow : ellipsis;') javascript
               span.badge D-5
            p
               label(style='text-overflow : ellipsis;') Android
               span.badge D-5
