//
   Created by HyunJae on 2015. 12. 23..
extends main_layout
append head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/point_modify.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap-datepicker3.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
block content
    .wrapper
        article.container
            h3 상벌당직 수정
            hr
            .content
                table#table.table.alltable
                    thead
                        tr
                            th 날짜
                            th 등록자
                            th 대상자
                            th 구분
                            th 일
                    tbody#history
    .modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title 상벌당직 수정
                .modal-body
                    h5 날짜
                    p#modal-date
                    h5 등록자
                    p#modal-enroller
                    h5 대상자(,로 구분)
                    input#modal-objects
                    h5 구분
                    .btn-group
                        button#mode-button.btn.dropdown-toggle(data-toggle='dropdown') 구분
                        ul#mode-dropdown.dropdown-menu
                            li
                                a(href='#') 상당직
                            li
                                a(href='#') 벌당직
                            li
                                a(href='#') 운영실 벌당직
                    h5 일수
                    .input-group
                        input#modal-pointnumber(min='0', type='number')
                    h5 사유
                    input#modal-reason
                .modal-footer
                    button#modify.btn(type='button') 적용
                    button#cancel.btn(type='button') 삭제
                    button.btn(type='button', data-dismiss='modal') 닫기
append script
    script(src='../javascripts/bootstrap-datepicker.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    script(src='../javascripts/point_modify.js')
