//
   Created by HyunJae on 2015. 12. 23..

extends main_layout
append head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/point_add.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
block content
    .container.contents
        h3 상벌당직 추가
        hr
        .content
            p#date

            table.table
                tr
                    th 구분
                    th
                        .dropdown
                            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown') 구분
                            ul.dropdown-menu
                                li
                                    a(href='#') 상당직
                                li
                                    a(href='#') 벌당직
                                li
                                    a(href='#') 운영실 벌당직
                    th 일수
                    th
                        input(type='number', min='0', value ='0')
                    th 사유
                    th
                        input(type='text',maxlength="50", placeholder="100자 이내")


            h4 회원 목록

            table#memberList.table



            #tmp

            button#send(type='button') 추가
            p#result

append script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    script(src='../javascripts/point_add.js')
