//
   Created by HyunJae on 2015. 12. 23..

extends main_layout
append head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/point_inquiry.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap-datepicker3.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
block content
    .wrapper
        article.container
            h3 상벌당직 조회
            hr
            .content
                button#toggle(type='button').btn.btn-block 전체회원조회
                input.datepicker(type='text', placeholder='월 선택' readonly="readonly")
                #all.hidden
                    table.table.alltable
                        thead
                            tr
                                th 이름
                                th 상당직
                                th 벌당직
                                th 운영실 벌당직
                                th 총계
                        tbody#allPoint
                    hr
                    table.table.alltable
                        thead
                            tr
                                th 일자
                                th 등록자
                                th 대상자
                                th 구분
                                th 일수
                                th 사유
                        tbody#allPointHistory
                #person
                    #name.gray
                    #total.point
                    #foot.gray

                    table.table
                        thead
                            tr
                                th 일자
                                th 등록자
                                th 구분
                                th 일수
                                th 사유
                        tbody#history
append script
    script(src='../javascripts/bootstrap-datepicker.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    script(src='../javascripts/point_inquiry.js')
