//
   Created by HyunJae on 2015. 12. 23..

extends main_layout
append head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/point_inquiry.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
block content
    .container.contents
        h3 상벌당직 조회
        hr
        .content
            p datepicker set

            p#name.blur
            p#total
            p#foot.blur

            p#name2.blur
            p#point_status
            p#foot2.blur.


            table.table
                thead
                    tr
                        th 일자
                        th 등록자
                        th 구분
                        th 일수
                        th 사유
                tbody#history




append script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    script(src='../javascripts/point_inquiry.js')
