//
   Created by HyunJae on 2015. 12. 23..

extends main_layout
append head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap-datepicker3.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/point_modify.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
block content
    .container.contents
        h3 상벌당직 수정
        hr
        .content

            input.datepicker(type='text', placeholder='월 선택' readonly="readonly")

            table#table.table.tab-content
                thead
                    tr
                        th 날짜
                        th 등록자
                        th 대상자
                        th 구분
                        th 일
                tbody#history

        .modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title
                    .modal-body
                    .modal-footer
                        button#modify.btn(type='button')
                        button#cancel.btn(type='button')
                        button.btn(type='button', data-dismiss='modal') 뒤로가기

append script
    script(src='../javascripts/bootstrap-datepicker.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    script(src='../javascripts/point_modify.js')
