//
   Created by HyunJae on 2016. 5. 12..

doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', type='text/css', href='../../stylesheets/qr_code.css')
        title  QRcode
    body
        #qr
        script(src='http://code.jquery.com/jquery.js')
        script(src='../../javascripts/qr_code.js')