extends main_layout
append head
    link(rel='stylesheet', type='text/css', href='./stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='./stylesheets/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='./stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='./stylesheets/main_layout.css')
    link(rel='stylesheet', type='text/css', href='./stylesheets/fullcalendar.css')
    link(rel='stylesheet', type='text/css', href='./stylesheets/schedule.css')
    link(rel='stylesheet', type='text/css', href='./stylesheets/bootstrap-datepicker3.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
block content
    .wrapper
        article.container
            h3 스케줄
            hr
            .content
                input.datepicker(type='text', placeholder='월 선택' readonly='readonly')
                #calendar

    .modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title
                .modal-body
                    #modal-table
                .modal-footer
                    button.btn(type='button', data-dismiss='modal') 닫기

append script
    script(src='../javascripts/bootstrap-datepicker.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    script(src='../javascripts/moment.min.js')
    script(src='../javascripts/fullcalendar.js')
    script(src='../javascripts/lang/ko.js')
    script(src='./javascripts/schedule.js')
