//
   Created by KIMDONGWON on 2016-01-03.
extends main_layout
append head
   link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/sys_manual.css')

block content
   .wrapper
      article.container
         h3 사용 메뉴얼
         hr
         .content
            h3 building....
append script
   script(src='../javascripts/system_manual_index.js')