//
   Created by KIMDONGWON on 2016-02-26.

extends main_layout
append head
   link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap.min.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/flat-ui.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/animate.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/main_layout.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/fullcalendar.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/user_adminCalendar.css')
   link(rel='stylesheet', type='text/css', href='../stylesheets/bootstrap-datepicker3.css')
block content
   .wrapper
      article.container
         .card.animated.bounceIn
            .content-header
               h5#today
               h5 오늘의 당직
            hr
            #content-today_duty
         .content
            input.datepicker(type='text', placeholder='월 선택' readonly='readonly')
            #calendar
append script
   script(src='../javascripts/moment.min.js')
   script(src='../javascripts/bootstrap-datepicker.js')
   script(src='../javascripts/fullcalendar.js')
   script(src='../javascripts/gcal.js')
   script(src='../javascripts/user_adminCalendar_index.js')

