//
   Created by KIMDONGWON on 2016-01-19.

extends main_layout
append head
   link(rel='stylesheet', type='text/css', href='../../stylesheets/bootstrap.min.css')
   link(rel='stylesheet', type='text/css', href='../../stylesheets/flat-ui.css')
   link(rel='stylesheet', type='text/css', href='../../stylesheets/animate.css')
   link(rel='stylesheet', type='text/css', href='../../stylesheets/main_layout.css')
   link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
block content
   .wrapper
      article.container
         h3 메세지 전송
         hr
         .content
append script
   script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
   script(src='../../javascripts/user_push_index.js')